<!DOCTYPE html>
<html>
  <head>
    <title>Hospital record V.2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <div>
        <div>
          <form method="GET" action="/reg/registerid">
            <span>
              register
            </span>
              <!--username input-->
            <span>
                further information to be given after approval
            </span>
            <div>
              <input placeholder="doctor id" type="text" id="username" name="username" required>
            </div>
              <!--password input-->
            <div>
              <input name="password" placeholder="password" type="password" id="password" required>
            </div>
            <div>
              <button type="submit">sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
